@import url("resource:///org/gnome/theme/gnome-shell.css");

#panel StLabel {
  font-weight: 500;
}

stage {
}

/* Text Styles */

/* default text style */
stage {
    font-family: SF Pro Display;
    font-size: 15px;
}

/* Panel */

#panel {
    background-gradient-direction:none;
    background-color: rgb(36,36,36);
    /*background-color: rgba(46,51,56,0.9);*/
    /*border:1px solid rgba(200,200,200,.5);*/
    box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.15);
    border-top:0px;border-right:0px;border-left:0px;
    font-weight: bold;
    height: 26px;
}

#panel:overview {
    background-color: transparent;
    border-color: transparent;
    box-shadow: inset 0px rgba(0,0,0,0)
}

#panel:overview .panel-button {
      color: rgba(255,255,255,.5);
      border-radius: 0px 0px 4px 4px
}

#panelLeft, #panelCenter {
    spacing: 4px;
}

#panelLeft:ltr {
    padding-right: 4px;
}

#panelLeft:rtl {
    padding-left: 4px;
}

#panelright:ltr {
    padding-left: 4px;
}

#panelRight:rtl {
    padding-right: 4px;
}
#panelLeft {
    padding-left: 6px;
}

#panelRight {
    padding-right: 4px;
}

.system-status-icon {
    icon-size: 1.09em;
    padding: 0 4px;
}

.aggregate-menu {
    width: 300px /*old=320*/;
}

.aggregate-menu .popup-menu-icon {
    padding: 0 4px;
}
