# do not bell on tab-completion
set bell-style none

set meta-flag on
set input-meta on
set convert-meta off
set output-meta on

# Completed names which are symbolic links to
# directories have a slash appended.
set mark-symlinked-directories on

set completion-ignore-case On

"\C-q": backward-kill-word
"\C-t": ""
"\C-c": ""
"\C-v": ""
