@import url("resource:///org/gnome/theme/gnome-shell.css");

#panel .panel-button {
color: #000000;
}

#panel StLabel {
  font-weight: 500;
}

stage {
}

/* Text Styles */

/* default text style */
stage {
    font-family: SF Pro Display;
    font-size: 15px;
}

/* Panel */

#panel {
    background-gradient-direction:none;
    background-color: rgba(255,255,255,0.8);
    /*background-color: rgba(46,51,56,0.9);*/
    /*border:1px solid rgba(200,200,200,.5);*/
    /*box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.15);*/
    border-top:0px;border-right:0px;border-left:0px;
    font-weight: bold;
    height: 26px;
    /*floating top bar*/
    border-radius: 12px;
    /*margin-top: 8px;*/
    /*margin-bottom: 8px; /* no longer necessary */
    margin-left: 8px;
    margin-right: 8px;
    padding: 0;

}

#panelLeft, #panelCenter {
    spacing: 4px;
}

#panelLeft:ltr {
    padding-right: 4px;
}

#panelLeft:rtl {
    padding-left: 4px;
}

#panelright:ltr {
    padding-left: 4px;
}

#panelRight:rtl {
    padding-right: 4px;
}
#panelLeft {
    padding-left: 6px;
}

#panelRight {
    padding-right: 4px;
}

.system-status-icon {
    icon-size: 1.09em;
    padding: 0 4px;
}

.aggregate-menu {
    width: 300px /*old=320*/;
}

.aggregate-menu .popup-menu-icon {
    padding: 0 4px;
}

#overviewGroup {
  background-color: #000000;
}
